{{ define "puppyArchive"}}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Elza Breeder</title>

  {{ template "links"}}

  <script
          type="text/javascript"
          src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@5.0.0/js/mdb.min.js"
  ></script>

  <!-- Дополнительные стили для золотой темы -->
  <style>

    @media only screen and (max-width: 768px) {
      .footimg {
        display: none;
      }
      #mobileNumber {
        display: none;
      }
      #mobileNumberMob {
        display: block;
      }
    }

    @media only screen and (min-width: 768px) {
      .footimg {
        display: none;
      }
      #mobileNumber {
        display: block;
      }
      #mobileNumberMob {
        display: none;
      }
    }

    body {
      background-color: #000;
      font-family: 'Rubik', sans-serif;
    }

    .navbar {
      background-color: #000;
    }

    /* Стили для футера */
    footer {
      background-color: #0a0a0a; /* Цвет фона футера */
      color: #575757; /* Цвет текста футера */
      padding: 1em 0; /* Отступы внутри футера */
    }

    footer img {
      height: 40px; /* Высота логотипа в футере */
      margin-bottom: 10px; /* Отступ между текстом и логотипом */
    }

    .preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      z-index: 1001;
    }

    .preloader__image {
      position: relative;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-left: -35px;
      text-align: center;
      animation: preloader-rotate 2s infinite linear;
    }

    @keyframes preloader-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    .loaded_hiding .preloader {
      transition: 0.3s opacity;
      opacity: 0;
    }

    .loaded .preloader {
      display: none;
    }
  </style>
  <script src="/static/js/scripts.js"></script>
</head>

<!-- Прелоадер -->
{{ template "preloader"}}
<!-- /Прелоадер -->

<body class="d-flex flex-column min-vh-100">
<!-- Шапка страницы -->
{{ template "nav"}}
<!-- Тело страницы -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- Heading -->
      <div class="bg-body-tertiary">
        <h2 class="pt-4"><strong>Архив</strong></h2>
        <!-- Breadcrumb -->
        <nav class="d-flex mb-4">
          <h6 class="mb-0">
            <a href="/" class="text-reset text-muted">Главная</a>
            <span class="text-muted">/</span>
            <a href="/puppies" class="text-reset text-muted">Щенки</a>
            <span class="text-muted">/</span>
            <a href="/archive" class="text-reset text-secondary"><u>Архив</u></a>
          </h6>
        </nav>
        <!-- Breadcrumb -->
      </div>
      <div class="row">
{{ $puppyReviews := .PuppiesWithFeedback }}
        {{ range .Puppies }}
        <div class="col-md-12">
          <a class="text-white" href="/puppies/{{ .ID }}">
          <div class="card bg-dark mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <div
                        id="puppy_carousel_{{ .Name }}"
                        class="carousel slide"
                        data-mdb-ride="carousel"
                        data-mdb-carousel-init
                >
                  <div class="carousel-indicators  rounded-5">
                    {{ $name := .Name }}
                    {{ range $index, $url := .Urls }}
                      <button
                              type="button"
                              data-mdb-target="#puppy_carousel_{{ $name }}"
                              data-mdb-slide-to="{{ $index }}"
                              {{ if eq $index 0 }}class="active"{{ end }}
                              aria-current="true"
                              aria-label="Slide {{ $index }}"
                      ></button>
                    {{ end }}
                  </div>
                  <div class="carousel-inner rounded-5">
                    {{ range $i, $url := .Urls }}
                      <div class="carousel-item{{ if eq $i 0 }} active{{ end }}">
                        <img src="{{ $url }}" class="d-block w-100" alt="Puppy">
                      </div>
                    {{ end }}
                  </div>
                  <button class="carousel-control-prev" type="button" data-mdb-target="#puppy_carousel_{{ .Name }}" data-mdb-slide="prev">
                    <i class="fas fa-chevron-left"></i> <!-- Иконка "влево" -->
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-mdb-target="#puppy_carousel_{{ .Name }}" data-mdb-slide="next">
                    <i class="fas fa-chevron-right"></i> <!-- Иконка "вправо" -->
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ .Name }} <span class="ms-1 badge badge-secondary">{{if eq "Сука" .Sex}} Девочка {{ end }}{{if eq "Кобель" .Sex}} Мальчик {{ end }}</span><span class="ms-1 badge badge-secondary" style="background-color: #c2c2c2">{{ .Color }}</span></h5>
                  <p class="card-text">
                    {{ .Title }}
                  </p>
                  <p class="card-text">
                    <h6 class="text-muted">{{ .City }} {{ if index $puppyReviews .ID }}<span class="ms-1 badge badge-secondary" style="background-color: #a1a1a1">Есть отзыв</span>{{ end }}</h6>
                  </p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>

        {{ else }}
        <div>
          <h4 class="pb-4">В данный момент здесь пусто</h4>
        </div>
        {{ end }}

        <div class="col-md-12">
          {{ $totalPages := .TotalPages }}
          {{ $getParams := .GetParams}}
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item{{ if eq .CurrentPage 1 }} disabled{{ end }}">
                <a class="page-link" href="{{ if ne .CurrentPage 1 }}{{ printf "/archive?page=%d" (sub .CurrentPage 1) }}{{ print $getParams }}{{ end }}">Назад</a>
              </li>
              {{ if eq $totalPages 1 }}
                <li class="page-item disabled">
                  <a class="page-link" href="/archive?page=1">1</a>
                </li>
              {{ else }}
                {{ range $page := until $totalPages }}
                  <li class="page-item{{ if eq (add $page 1) $.CurrentPage}} fw-bold border rounded disabled{{ end }}">
                    <a class="page-link" href="{{ printf "/archive?page=%d" (add $page 1)}}{{ print $getParams }}">{{ add $page 1 }}</a>
                  </li>
                {{ end }}
              {{ end }}
              <li class="page-item{{ if eq .CurrentPage .TotalPages }} disabled{{ end }}">
                <a class="page-link" href="{{ if ne .CurrentPage .TotalPages }}{{ printf "/archive?page=%d" (add .CurrentPage 1) }}{{ print $getParams }}{{ end }}">Далее</a>
              </li>
            </ul>
          </nav>

        </div>

      </div>
    </div>

    <div class="col-md-4 search-filter">
      <h2 class="pt-4"><strong>Настройки</strong></h2>
      <nav class="d-flex mb-4">
        <h6 class="mb-0">
          <a href="/puppies" class="text-reset text-secondary">Перейти к щенкам на продажу</a>
        </h6>
      </nav>
      <div class="card bg-dark">
        <div class="card-body">
          <form action="/archive" method="get">
            <!-- Checkbox -->
            <h5 class="pb-1 pt-1"><strong>Окрас</strong></h5>
            <div class="form-check d-flex mb-1">
              <input
                      class="form-check-input bg-dark me-2"
                      type="checkbox"
                      value="Классический"
                      id="chocolate1"
                      name="chocolate"
                      {{ if has "Классический" .SelectedColors  }}checked{{ end }}
              />
              <label class="form-check-label" for="chocolate1">Классический</label>
            </div>
            <div class="form-check d-flex mb-1">
              <input
                      class="form-check-input bg-dark me-2"
                      type="checkbox"
                      value="Шоколадный"
                      id="chocolate2"
                      name="chocolate"
                      {{ if has "Шоколадный" .SelectedColors  }}checked{{ end }}
              />
              <label class="form-check-label" for="chocolate2">Шоколадный</label>
            </div>
            <div class="form-check d-flex mb-1">
              <input
                      class="form-check-input bg-dark me-2"
                      type="checkbox"
                      value="Черный"
                      id="chocolate3"
                      name="chocolate"
                      {{ if has "Черный" .SelectedColors  }}checked{{ end }}
              />
              <label class="form-check-label" for="chocolate3">Черный</label>
            </div>
            <div class="form-check d-flex mb-1">
              <input
                      class="form-check-input bg-dark me-2"
                      type="checkbox"
                      value="Биро"
                      id="chocolate4"
                      name="chocolate"
                      {{ if has "Биро" .SelectedColors  }}checked{{ end }}
              />
              <label class="form-check-label" for="chocolate4">Биро</label>
            </div>
            <div class="form-check d-flex mb-1">
              <input
                      class="form-check-input bg-dark me-2"
                      type="checkbox"
                      value="Бивер"
                      id="chocolate5"
                      name="chocolate"
                      {{ if has "Бивер" .SelectedColors  }}checked{{ end }}
              />
              <label class="form-check-label" for="chocolate5">Бивер</label>
            </div>
            <div class="form-check d-flex mb-1">
              <input
                      class="form-check-input bg-dark me-2"
                      type="checkbox"
                      value="Голддаст"
                      id="chocolate6"
                      name="chocolate"
                      {{ if has "Голддаст" .SelectedColors  }}checked{{ end }}
              />
              <label class="form-check-label" for="chocolate6">Голддаст</label>
            </div>
            <div class="form-check d-flex mb-1">
              <input
                      class="form-check-input bg-dark me-2"
                      type="checkbox"
                      value="Черный мерле"
                      id="chocolate7"
                      name="chocolate"
                      {{ if has "Черный мерле" .SelectedColors  }}checked{{ end }}
              />
              <label class="form-check-label" for="chocolate7">Черный мерле</label>
            </div>
            <div class="form-check d-flex mb-1">
              <input
                      class="form-check-input bg-dark me-2"
                      type="checkbox"
                      value="Шоколадный мерле"
                      id="chocolate8"
                      name="chocolate"
                      {{ if has "Шоколадный мерле" .SelectedColors  }}checked{{ end }}
              />
              <label class="form-check-label" for="chocolate8">Шоколадный мерле</label>
            </div>
            <hr />

            <div class="form-check d-flex mb-1">
              <input
                      class="form-check-input bg-dark me-2"
                      type="checkbox"
                      value="Кобель"
                      id="male"
                      name="gender"
                      {{ if has "Кобель" .SelectedGenders  }}checked{{ end }}
              />
              <label class="form-check-label" for="male"
              >Кобель (мальчик)</label
              >
            </div>

            <div class="form-check d-flex mb-1">
              <input
                      class="form-check-input bg-dark me-2"
                      type="checkbox"
                      value="Сука"
                      id="girl"
                      name="gender"
                      {{ if has "Сука" .SelectedGenders  }}checked{{ end }}
              />
              <label class="form-check-label" for="girl"
              >Сука (девочка)</label
              >
            </div>

            <button style="display: none" type="submit" data-mdb-ripple-init></button>
          </form>
        </div>
      </div>
      <button data-mdb-ripple-init type="button" class="btn btn-lg btn-dark mt-4 mb-4" onclick="submitFormFromSearch(this)">Поиск</button>
    </div>

  </div>
    </div>

  {{ template "footer"}}

  {{ template "scripts"}}
</body>
</html>

{{ end }}